.boxlayout
{
	/*border : 2px #6f8fcb solid;*/    
    width:auto;
	overflow:auto;
	/*height:100px;*/
    list-style-type:none;
    margin: 0;
    padding: 0;    
    white-space: nowrap;
}

.boxlayout li
{
	/*display: block;*/
	/*border : 1px #ffffff solid;*/
	margin-right:3px;
	margin-bottom: 5px;
	/*margin-top:5px;*/
	cursor: pointer;

    overflow-x:auto;
	/*line-height: 80px;*/
	/*float: left;*/
    display:inline-block;

	/*width: 80px;*/
	/*height: 80px;*/
	text-align: center;
	
	padding:0px;
}

.boxlayout li:hover,.boxLayoutTd:hover
{
	/*background-color: #c3d6fa;*/
   /* border:1px solid transparent;*/
    cursor: pointer;
}

.selecteditem
{
   /* background-color: #e0e0e0;*/
}