.mainHeading
{
    /*font-weight:bold;*/
    font-size:100%;
    display:inline;
    color: #333333;
}
.mainHeading1
{
    font-weight:bold;
    font-size: 107%;
    display:inline;
}
.captionText
{
    /*font-weight:bold;
    font-size: 85.7%;
    color: #333333;
    */
    font-size: 100%;
    color: #81909e !important;
}
.captionText>label
{
   width:98%;
   text-align: left;
}

.modifiedCaption
{
    /*font-weight:bold;*/
    font-size:84.6%;

}
.modifiedCaption>label
{
    width:98%;
    text-align: left;
}
.modifiedValue
{
    font-size: 84.6%;
    padding-right: 5px;
}
.valueText
{
    /*font-size:1.1em;*/
    padding-right: 5px;
}
.valueText1
{
    font-size: 85.7%;
}
.valueText2
{
    font-size: 85.7%;
}
.btfollowup
{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*background: url(../../images/followPlusBtn.png) no-repeat scroll 0 0 transparent;*/
    background: url(../../images/followup.png) no-repeat scroll 0 0 transparent;
    border-color: #DDDDDD #DDDDDD #BBBBBB;
    border-radius: 1px 1px 1px 1px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #444444;
    /*font-family: Tahoma,Arial,Helvetica,sans-serif;*/
    font-size: 92.3%;
    /*padding: 5px 15px 5px 30px;*/
    text-shadow: 0 2px 0 #FFFFFF;
    width:90px;
    height:25px;
}
.btunfollowup
{
    /*outline: medium none;*/
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
   /* background: url(../../images/unfollowup.png) no-repeat scroll 3 3 transparent;*/
    background: url(../../images/unfollowup.png) no-repeat scroll 0 0 transparent;
    border-color: #DDDDDD #DDDDDD #BBBBBB;
    border-radius: 1px 1px 1px 1px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #444444;
    /*font-family: Tahoma,Arial,Helvetica,sans-serif;*/
    font-size: 85.7%;
    /*padding: 5px 15px 5px 30px;*/
    text-shadow: 0 2px 0 #FFFFFF;
    width:90px;
    height:25px;
}
.filename
{
    /*margin-left: -70px !important;*/
}


.contactIcon, .contactIconCardView{
    width: 112px;
    border-radius: 50%;
    height: 112px;
    position: relative;
    display: block;
    background: #f5aa01;
    top: 0;
    color: white;
    font-size: 200%;
    cursor: pointer;
    transition: 0.2s;
    padding: 0px !important;

}
.contactIcon:hover{
    background: #535353;
}
.contactIconLetter{
    display: block;
    text-align: center;
    padding-top: 35px;
}

.contactIcon:hover #spanattachLetter_Icon{
    display: block;
}
.contactIcon:hover .contactIconLetter{
    display: none;
}

#spanattachLetter_Icon{
    color: white;
    font-size: 90%;
    position: relative;
    top: 7px;
    display: none;
    text-align: center;
    padding-top: 35px;
}
#dvContImgUpload{
    height: 112px;
    border-radius: 50%;
    width: 112px;
    overflow: hidden;
    background: none;
    border: 2px solid #e2e2e2;
}
#fileName_contactImgImport a:hover{
    text-decoration: none !important;
}
#preview_contactImgImport{
    /*height: 112px !important;*/
    width: 112px;
    margin-top: -5px;
    margin-left: -5px;
}
.fa-download:before {
    color:white !important;
}
.facrm-table-row-delete:before{
    color:white !important;
}
#tblcontactImgImport  .UploadBodyImageRow
{
    display: block !important;
}
#lblUpload_contactImgImport
{
    display: none !important;
}