.sumbar-main-div
{
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.sumbar-main-div
{

    border-bottom:0;
    z-index:2;
}
.sumbar-main-table
{
    /*padding-top:10px;*/
    /*table-layout:fixed;*/
    border:1px solid #F4F4F4;
    overflow:scroll;
}
.sumbar-items-main-td
{
    overflow-x:hidden;
}
.sumbar-items-main-li
{
    height: 100%;
    padding:0 !important;
    margin:0 !important;
}
.sumbar-item-main-div
{
    /*border:5px solid transparent;*/
    color:#ffffff;
    height:100%;
    /*font-weight:bold;*/
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.sumbar-item-select
{                                                      
    background-color:#ffffff !important;
    /*color:#000000;*/
}
.sumbar-item-main
{
    color:inherit;
    padding:0 16px;
    /*padding:0 2em;*/
}
.sumbar-item-count
{
    font-weight:bold;
    font-size:182%;
}
.sumbar-actions-main
{
    background-color:#cccccc;
    width:25px;
}

