/*all classes are custom classes to show
bot freeze icon and chat container with
specific styles*/

body
{
    font-size: 0.875rem;
}

.bot-chat-container
{
    bottom: 0px;
    right: 35px;
    position: fixed;
    z-index: 2247483646!important;
}

.bot-chat-left-container
{
    bottom: 0px;
    left: 5px;
    position: fixed;
    z-index: 2247483646!important;
}

.bot-chat-dv-icon
{
    position: relative;
    padding-top: 3px !important;
    width: 50px;
    border-radius: 30px;
    height: 50px;
    /*font-size: 14px;*/
    font-size: 0.875rem;
    background-color: #03a9f4;
    line-height: 100%;
    display: block;

}

.bot-chat-freeze-icon
{
    color: #fff !important;
    font-size: 30px !important;
    /*font-size: 1.875rem !important;*/
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 7px;
}

.bot-chat-hide-icon
{
    color: white;
    font-size: 10px !important;
    background: #03a9f4;
    border-radius: 12px;
    padding: 3px;
    position: relative;
    left: 5px;
	box-sizing: content-box;
}

.bot-chat-conversation
{
    border: 1px solid #d5d5d5;
}

.bot-tooltip {
    position: relative;
    /*display: inline-block;*/
}

.bot-tooltip .bot-tooltip-text {
    visibility: hidden;
    /*width: 120px;*/
    color: #555;
    text-align: center;
    padding: 15px 15px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #555;
    transition: opacity .6s;
	box-sizing: content-box;
}

.bot-tooltip:hover .bot-tooltip-text {
    visibility: visible;
}

.bot-tooltip .bot-tooltip-left {
    width: 120px;
    top: -5px;
    right: 105%;
}

.bot-tooltip .bot-tooltip-right {
    top: -5px;
    left: 105%;
	width: 120px;
}

.bot-tooltip .bot-tooltip-top {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.bot-tooltip-bottom {
    width: 300px;
    top: 100%;
    left: 50%;
    margin-left: -150px;
}

.bot-msg-tooltip {
    position: relative;
    /*display: inline-block;*/
}

.bot-msg-tooltip .bot-msg-tooltip-text {
    visibility: hidden;
    /*width: 120px;*/
    color: #555;
    text-align: center;
    padding: 5px 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #555;
    transition: opacity .6s;
    /*font-size: 10px;*/
    font-size: 0.625rem;
}

.bot-msg-tooltip:hover .bot-msg-tooltip-text {
    visibility: visible;
}

.bot-msg-tooltip .bot-msg-tooltip-left {
    width: 120px;
    top: -5px;
    right: 105%;
}

.bot-msg-tooltip .bot-msg-tooltip-right {
    top: -5px;
    left: 105%;
}

.bot-msg-tooltip .bot-msg-tooltip-top {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.bot-msg-tooltip-bottom {
    width: 300px;
    top: 100%;
    left: 50%;
    margin-left: -150px;
}

/*.icon-down-arrow
{
    color: #03a9f4 !important;
}*/
